<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058312411431-89jd2t8jl54c2f5qo80mukp7h92ibc62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058312411431-89jd2t8jl54c2f5qo80mukp7h92ibc62</string>
	<key>API_KEY</key>
	<string>AIzaSyDKTxrKcdMqXOu-0dzYRL3Q8kRo_5rLanA</string>
	<key>GCM_SENDER_ID</key>
	<string>1058312411431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kimuChat</string>
	<key>PROJECT_ID</key>
	<string>kimchat</string>
	<key>STORAGE_BUCKET</key>
	<string>kimchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058312411431:ios:f2e3880cf37311935db102</string>
</dict>
</plist>